<!--<div class="main posts-new">
  <div class="container">
    <%= button_to 'ゲストログイン（閲覧用）', home_guest_sign_in_path, method: :post %>
  </div>
</div>-->

<div class="main top-main">
  <div class="top-message">
    <h2>あなたの声を世界に届けよう</h2>
  </div>
</div>